<html>
    <head>
        <title>camueller-capstone.herokuapp.com</title>
    </head>
    <body>
        <div style="width:50%;margin-left:auto;margin-right:auto;margin-top: 10%;">
        <p>Hello Reviewer. Welcome to my capstone project. This project didn't require a front end from what I could tell, but the previous two times I've submitted
            reviewers kept hitting the index root so I thought I should set something up here instead of a 404 message.
        </p>
        <p>This is app is purely an API. Please read the project readme available on my github repo at <a href="https://github.com/camueller79/full-stack-capstone">https://github.com/camueller79/full-stack-capstone</a> Here you will find all of the available end points to test. You will also find auth keys necessary for accessing all of the API end points</p>
        </div>
    </body>
</html>